In [1]:
#Input & Output
bil1 = input('isikan bilangan 1:')
bil2 = input('isikan bilangan 2:')
hasil = int(bil1) + int (bil2)
print("hasil",bil1,"+",bil2,"=",hasil)

isikan bilangan 1:15
isikan bilangan 2:82
hasil 15 + 82 = 97

In [1]:
#program menghitung Luas dan keliling persegi panjang
panjang = input("masukkan nilai panjang : ")
lebar = input("masukkan nilai lebar : ")
luas = int(panjang) * int(lebar)
keliling = 2*(int(panjang) + int(lebar))
print("luas : ", luas)
print("keliing : ",keliling)

masukkan nilai panjang : 15
masukkan nilai lebar : 5
luas :  75
keliing :  40

In [2]:
print("A","B","C","D", sep ="|") #sep = seperator / pembatas

A|B|C|D

In [4]:
print("A","B","C","D", sep="\n")

A
B
C
D

In [5]:
print("A","B","C","D", sep="\n", end="^_^")

A
B
C
D^_^

In [9]:
num_1 = 8
num_2 = 10

# hasil dari 8 modulus 10 = 8
#str.format()

print('hasil dari {} modulus {} = {}'.format(num_1,num_2,num_1%num_2))

hasil dari 8 modulus 10 = 8

In [11]:
fname = "Rudi"
mname = "Hartono"
lname = "Darmawan"

print('Nama anda {2} {0} {1}'.format(fname,mname,lname))

Nama anda Darmawan Rudi Hartono

In [13]:
print('Nama anda {nama}, nilai anda {nilai}'.format(nama='Andri',nilai=70))

Nama anda Andri, nilai anda 70

In [18]:
univ = "Universitas Nusa Putra"

print("karakter pertama : ",univ[0])
print("karakter terakhir: ",univ[-1])
#Universitas
print(univ[0:11])
print(univ[-5:-1])
print(univ[17:])
print(univ[::-1])

karakter pertama :  U
karakter terakhir:  a
Universitas
Putr
Putra
artuP asuN satisrevinU

In [22]:
f_name ='Rudi'
l_name = 'Andri'
 
print(f'Nama saya {f_name} {l_name}')
      
first = 100
second = 20
print(f'hasil penjumlahan {first} + {second} = {first+second}')

Nama saya Rudi Andri
hasil penjumlahan 100 + 20 = 120

In [31]:
#fungsi string
nama = "Andri,Budi,Cika"
nama2 = "Andri Budi Cika"
#split -> memisahkan string kedalam kumpulan karakter
print(nama2.split())
print(nama.split(','))

#join -> menggabungkan string kedalam kumpulan karakter
print('@.'.join(nama.split(',')))

#input tgl lahir -> 18/Oktober/2010
#input nama -> Bill Gate
#output
#Tgl : 18,Bulan:Oktober, Tahun :2010
#Nama Inisial : BG

tgl = input("masukkan tanggal lahir : ")
nama = input("masukkan nama : ")
pemisah = tgl.split('/')
print(f"Tanggal : {pemisah[0]}, bulan:{pemisah[1]}, Tahun:{pemisah[2]}")
pemisah2 = nama.split()
nama_pertama  = pemisah2 [0]
nama_terakhir = pemisah2 [1]
print(f"Nama inisial : {nama_pertama[0]+nama_terakhir[0]}")

['Andri', 'Budi', 'Cika']
['Andri', 'Budi', 'Cika']
Andri@.Budi@.Cika
masukkan tanggal lahir : 18/Oktober/2010
masukkan nama : Bill Gate
Tanggal : 18, bulan:Oktober, Tahun:2010
Nama inisial : BG